.genreSection {
    display: flex;
    justify-content: space-between;
}

.genreList {
width: auto;
}

.genreView {
width: auto;
margin: auto;
}

.welcomeTitle {
    height: 100px;
background-color: red;
}

.welcomeTitle h1 {
    color: hotpink;
}