.footerSec {
    background-color: rgb(19, 16, 9);
    width: 100%;
    height: 200px;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1.inFooter {
    color: hotpink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 0px;
}

p.inFooter {
    color: gold;
    font-size: 20px;
}

a.inFooter:link {
    color: gold;
    font-size: 20px; 
}

a.inFooter:hover{
    color: goldenrod;
}

a.inFooter:visited {
    color: rgb(179, 132, 14);
}